{% extends "bootstrap/base.html" %}

{% block title %}Form Example{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Translate</a>
        </div>    
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Please translate the following {{ original }}</h2>
        <form method="POST" action="" text-align="center">
            {{ form.translation.label }} {{ form.translation(size=45) }}
            {% for error in form.translation.errors %}
                {{ error }}
            {% endfor %}
            <br>
            {{ form.submit() }}
            {{ form.hidden_tag() }}
        </form>
        {% if correct %}
            <h2>Correct!</h2>
        {% endif %}
    </div>
{% endblock %}
