{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Improve your skills{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Translate</a>
        </div>    
    </nav>
{% endblock %}


{% block styles %}
{{super()}}
    <link href="{{url_for('static', filename='styles/index.css')}}"
          rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="col-md-4 col-md-offset-4 custom-container container">
        {% if prompt is not none %}
            <h2>
                Please translate the following
                <h2 class="custom-phrase">
                    <strong>
                        {{ original }}
                    </strong>
                </h2>
            </h2>
            <form method="POST" action="">
                {{ prompt.translation.label }} {{ prompt.translation(size=45) }}
                {% for error in prompt.translation.errors %}
                    {{ error }}
                {% endfor %}
                <br>
                {{ prompt.submit() }}
                {{ prompt.hidden_tag() }}
            </form>
            {% if correct %}
                <h2>Correct!</h2>
            {% endif %}
        {% else %}
            Congratulations, you are done!
            <form method="post" enctype="multipart/form-data">
            {{ upload.hidden_tag() }}
            {{ upload.file }}
            <input type="submit">
            </form>
        {% endif %}
    </div>
{% endblock %}
