pytest
click
flask
flask-cors
flask-login
Flask-SQLAlchemy
Flask-HTTPAuth
flask-session
pyjwt
gunicorn
apifairy
marshmallow-sqlalchemy
python-dotenv
SQLAlchemy==2.0.1  # https://github.com/marshmallow-code/marshmallow-sqlalchemy/issues/487

# dev
isort
mypy
black
pre-commit
